:root {
  /* --section-border-width: 0!important;
  --section-border-width-minus: 0!important; */

  --color-highlight-2: #0E1419;
  --color-highlight-3: #fb5d03;

  --section-border-width: 1.5px;
  --section-border-width-minus: -1.5px;


  --font-weight-base: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --color-primary: #0E1419;
  --color-secondary: #f3f3f3;  
  --background-color-primary: #f3f3f3;
  --background-color-primary-transp: #0E1419a6;
  --background-color-primary-transp-glass: #0e141900;
  --background-color-primary-transp-glass-2: #f3f3f3CF;
  --background-color-secondary: #f3f3f3;
  --background-color-secondary-transp: #f3f3f3a6;
  --game-btn-outline: #0E1419;
  --link-hover: 0.5;
  --link-visited: #f3f3f3;
  --link-active: #f3f3f3;
}

.mode-switch--btn-text {
  font-weight: var(--font-weight-medium);
}

.section--two-column--container {
  background-color: #77797c;
}

.intro-text {
  font-size: 1.4rem;
}

.logotype--svg {
  fill: var(--color-secondary);
}

.maintenance--announcement {
  /* color: var(--color-secondary); */
  background-color: var(--color-highlight-3)
}

@media only screen and (max-width: 640px) {
  .container-maintenance--contact {
  border: 1.5px solid var(--color-primary);
  }
}

.mode-switch-btn--container {
  border: 1.5px solid var(--color-primary);
}

.mode-switch--btn {
  border: 1.5px solid var(--color-primary);
}

.maintenance--svg-close {
  stroke-width: 1.5px;
}

.footer--container {
  border: 1.5px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--background-color-primary);
  font-weight: 400;
}

.footer--info-li {
  color: inherit;
}

.footer--info-link {
  color: #646464;
}
