:root {
  --color-highlight-2: #0E1419;
  --color-highlight-3: #fb5d03;

  --section-border-width: 0;
  --section-border-width-minus: -1px;
  
  --component-border-width: 1px;
  
  --font-weight-base: 500;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-primary: #0E1419;
  --color-secondary: #f3f3f3;  
  --background-color-primary: #f3f3f3;
  --background-color-primary-transp: #0E1419a6;
  --background-color-primary-transp-glass: #0e141900;
  --background-color-primary-transp-glass-2: #f3f3f3CF;
  --background-color-secondary: #f3f3f3;
  --background-color-secondary-transp: #f3f3f3a6;
  --game-btn-outline: #0E1419;
  --link-hover: 0.5;
  --link-visited: #f3f3f3;
  --link-active: #f3f3f3;
}

body {
  background-color: var(--color-primary);
}

.maintenance-container--form {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.mode-switch--btn-text {
  font-weight: var(--font-weight-medium);
}

.section--two-column--container {
  background-color: #77797c;
}

.logotype--svg {
  fill: var(--color-primary);
}

.mode-switch-btn--container {
  border: var(--component-border-width) solid var(--color-primary);
}

.mode-switch--btn {
  border: var(--component-border-width) solid var(--color-primary);
}

.maintenance--svg-close {
  stroke-width: var(--component-border-width);
}

.footer--container {
  border: var(--section-border-width) solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--background-color-primary);
  font-weight: 400;
}

.footer--info-li {
  color: inherit;
}

.footer--info-link {
  color: #646464;
}

.maintenance-container--form input::placeholder,
.maintenance-container--form textarea::placeholder,
.maintenance-container--form input::-webkit-input-placeholder,
.maintenance-container--form textarea::-webkit-input-placeholder,
.maintenance-container--form label {
  color: var(--color-primary);
}

.two-column--content-text {
  background-color: var(--background-color-secondary-transp-2);
}

.credits-content {
  background-color: #ffffffad;
}

@media only screen and (max-width: 640px) {
  .logotype--svg-container {
    background-color: var(--background-color-primary-transp-glass-2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
}

@media only screen and (max-width: 640px) {
  .columns--container {
    padding-bottom: 1rem;
  }
}

.credits-title--container:hover {
  color: var(--color-primary);
  background-color: var(--background-color-primary);
}

.credits-title--container:hover .maintenance--svg-close-minus path {
  stroke: var(--color-primary);
}
