:root {
  --header-height-desktop: 77px;
  --header-height-desktop-sm: 44px;
  --header-height-mobile: 44px;
  --header-height-mobile-sm: 58px;
  --footer-height-mob: 230px;
  --footer-height-tablet: 141px;
  --footer-height-desktop: 108px;
  --header-footer-height-mob: calc(var(--header-height-mobile) + var(--footer-height-mob));
  --header-footer-height-mob-sm: calc(var(--header-height-mobile-sm) + var(--footer-height-mob));
  --header-footer-height-tablet: calc(var(--header-height-desktop) + var(--footer-height-tablet));
  --header-footer-height-desktop: calc(var(--header-height-desktop) + var(--footer-height-desktop));
  --header-footer-height-desktop-sm: calc(var(--header-height-desktop-sm) + var(--footer-height-desktop));
  --section-height-sm: 44px;
  --section-height-full-desktop: calc(100vh - var(--header-height));
  --section-height-clipped-desktop: calc(100vh - var(--header-footer-height-desktop-sm));
  --text-uppercase: uppercase;
  --h1: 1.4615rem; /* 19px = 1.4615rem */
  --h2: 1.3077rem; /* 17px = 1.3077rem */
  --h3: 1rem;
  --h4: 1rem;
  --h5: 1rem;
  --pb: 1rem;
  --base-text: 1rem;
  --base-text-sm: 0.85rem;
  --default-line-height: 130%;
  --caps-line-height: 100%;
  --color-highlight-1: #001eff;
  --color-highlight-1-transp: #001eff7a;

  --color-highlight-2: #646464;

  --section-border-width: 0px;
  --section-border-width-minus: -1px;

  --component-border-width: 1px;

  --main-font-family: 'roboto-mono', monospace, Arial, sans-serif;
  --main-font-family-display: "roboto", Arial, sans-serif; /* Specify the main font family */

  --alt-font-family: 'Space Grotesk', sans-serif, Arial, sans-serif;
  --alt-mono-font-family: 'Space Mono', monospace, Arial, sans-serif;

  --secondary-font-family: 'neue-haas-grotesk-text', Arial, sans-serif;
  --display-font-family: 'neue-haas-grotesk-display', Arial, sans-serif;

  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-weight-var: "wght" 450;

  --color-primary: #eee;
  --color-secondary: #0E1419;
  --color-game-text-1: #eee;  
  --background-color-primary: #0E1419;
  --background-color-primary-transp: #eeeeeea6;
  --background-color-primary-transp-2: #0e141936;
  --background-color-primary-transp-glass: #eee00;
  --background-color-primary-transp-glass-2: #eee00;
  --background-color-secondary: #eee;
  --background-color-secondary-transp: #eeea6;
  --background-color-secondary-transp-2: #eeeeee36;
  --game-btn-outline: #0E1419;
  --link-hover: 0.5;
  --link-visited: #eee;
  --link-active: #eee;
  --svg-hover: 0.75;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border-radius: 0;
}

html {
  font-size: 13px;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: var(--alt-font-family);
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  /* font-family: var(--alt-font-family); */
  font-family: var(--alt-font-family);
  font-weight: var(--font-weight-base);
  /* font-variation-settings: var(--font-weight-var); */
  font-style: normal;
  -webkit-font-feature-settings: 'salt' 1;
  -moz-font-feature-settings: 'salt' 1;
  font-feature-settings: 'salt' 1;
  font-size: 1rem;
  line-height: var(--default-line-height);
  color: var(--color-primary);
  transition: all 0.4s ease-in-out;
  min-height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
  flex-direction: column;
}

.main-wrapper {
  position: relative;
  z-index: 2;
  background-color: var(--background-color-primary);
}

.inner-wrapper {
  position: relative;
  z-index: 2;
  background-color: var(--background-color-primary);
}

/* .inner-wrapper .sections-wrapper {
  position: relative;
  z-index: 2;
  background-color: var(--background-color-primary);
} */

.sections-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 640px) {
  main {
    height: 100vh;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.link--main {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-self: start;
  align-self: end;
  grid-column: 3 / 4;
  grid-row: 1;
  position: sticky;
  top: 1rem;
}

.link--main-2, .link--main-mob {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: fit-content;
  width: fit-content;
  align-items: center;
  position: sticky;
  top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .link--main {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .link--main-2 {
    display: none;
  }
}

.link--main p {
  height: fit-content;
  line-height: var(--caps-line-height);
}

.link--main-svg {
  height: 16px;
  width: 16px;
  rotate: 45deg;
  stroke: var(--color-primary);
  stroke-width: var(--component-border-width);
  line-height: var(--caps-line-height);
  fill: none!important;
}

@media only screen and (max-width: 640px) {
  .link--main {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .link--main-mob {
    display: none;
  }
}

button {
  line-height: 100%;
  margin: 0;
  padding: 0;
  text-transform: var(--text-uppercase);
}

h1, h2, h3, h4, h5, h6, p {
  display: block;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-family: inherit;
  font-size: var(--font-base);
  font-weight: inherit;
  line-height: var(--default-line-height);
  text-transform: inherit;
}

textarea#message {
  resize: none;
}

a {
  outline: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus {
  text-decoration: none;
  background: transparent;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  opacity: var(--link-hover);
}

a:active {
  background: transparent;
  color: var(--color-primary);
}

header {
  height: var(--header-height-desktop-sm);
  color: var(--color-primary);
  overflow: hidden;
  position: sticky;
}

@media only screen and (max-width: 640px) {
  header {
    height: var(--header-height-mobile);
  }
}

.uppercase {
  text-transform: uppercase;
}

.text-transform-none {
  text-transform: none;
}

section {
  border-top: var(--section-border-width) solid var(--color-primary);
  background-color: var(--background-color-primary);
  /* position: -webkit-sticky; */
  position: sticky;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  padding: 1rem;
  z-index: 1;
}

.section {
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  background-color: var(--background-color-primary);
  color: var(--color-primary);
}

.intro-text-desktop {
  font-size: 1rem;
}

@media only screen and (max-width: 640px) {
  .intro-text-desktop {
    display: none;
    padding: 1rem 0;
  }
}

.intro-text-mob--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.intro-text-mob {
  font-size: 1.3rem;
}

@media only screen and (min-width: 640px) {
  .intro-text-mob--container {
    display: none;
  }
}

.intro-list--container, .intro-list--container-2 {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  grid-auto-rows: minmax(auto, 1fr);
  gap: 1rem;
  width: 100%;
  height: fit-content;
  align-items: baseline;
  grid-column: 3 / 5;
  position: sticky;
  top: 1rem;
  grid-row: 1;
}

@media only screen and (max-width: 640px) {
  .intro-list--container {
    display: none;
  }
  .intro-list--container-2 {
    grid-column: 1 / 3;
    grid-row: unset;
  }
}

.intro-list--container li, .intro-list--container-2 li {
  display: grid;
  grid-template-columns: 72px 1fr;
  grid-auto-rows: minmax(auto, 1fr);
  gap: 1rem;
  width: 100%;
  height: fit-content;
}

/* .intro-list--container li p:nth-child(2) {
  text-transform: uppercase;
} */

.intro-list--container p, .intro-list--container-2 p {
  line-height: var(--default-line-height);
  width: fit-content;
  height: fit-content;
}

.intro-list--row-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.intro-list--row-2 {
  display: none;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.intro-list--row-2 li:not(:first-child) p {
  grid-column: 2;
  /* text-transform: uppercase; */
}

.two-column--container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-primary);
  position: sticky;
  top: 0;
  min-height: fit-content;
  height: fit-content;
  transition: position 0.3s ease-in-out;
}

@media only screen and (max-width: 640px) {
  .two-column--container {
    padding-top: 0;
  }
}

.two-column--content {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  flex-grow: 1;
  align-content: space-between;
}

.two-column--content-text--desktop {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  width: 100%;
  grid-column: 1 / 3;
  align-self: start;
}

.opener {
  font-size: 1.5rem;
  font-family: var(--display-font-family);
  font-weight: var(--font-weight-medium);
  color: var(--color-highlight-2);
}

.logotype--svg-container {
  position: sticky;
  top: 1rem;
  display: flex;
  width: 100%;
  height: fit-content;
  grid-column: 2 / 5;
  margin-top: -2rem;
}

.logotype--svg-container svg:hover {
  fill: var();
  opacity: var(--svg-hover);
}

.logotype--svg-inner {
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-auto-columns: minmax(auto, 1fr);
  grid-auto-rows: auto; */
  gap: 1rem;
  width: 100%;
  height: fit-content;
  line-height: 1;
  justify-items: start;
  align-items: flex-end;
  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
.logotype--svg-inner {
    grid-column: 1 / 2;
  }
}

.logotype--svg-inner svg {
  fill: var(--color-primary);
}

.logotype--svg-top,
.logotype--svg-bottom {
  height: 68px;
  width: auto;
}

.logotype--svg-center {
  height: 68px;
  width: auto;
}

@media only screen and (max-width: 520px) {
  .logotype--svg-top,
  .logotype--svg-bottom {
    height: 50px;
    width: auto;
  }
  .logotype--svg-center {
    height: 50px;
    width: auto;
  }
}

@media only screen and (min-width: 1100px) {
  .two-column--content-text--desktop {
    grid-column: 1 / 2;
  }
  /* .intro-text-desktop {
    font-size: 1.2rem;
  } */
  .logotype--svg-top,
  .logotype--svg-bottom {
    height: 120px;
    width: auto;
  }
  .logotype--svg-center {
    height: 120px;
    width: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .two-column--content-text--desktop {
    grid-column: 1 / 2;
  }
  /* .intro-text-desktop {
    font-size: 1.2rem;
  } */
}

@media only screen and (min-width: 1440px) {
  .logotype--svg-container {
    grid-column: 3 / 5;
  }
  .logotype--svg-top,
  .logotype--svg-bottom {
    height: 100px;
    width: auto;
  }
  .logotype--svg-center {
    height: 100px;
    width: auto;
  }
  .intro-text-desktop {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 640px) {
  .two-column--content {
    gap: 2rem;
  }
  .two-column--content-text--desktop {
    display: none;
  }
  .logotype--svg-container {
    grid-column: 1 / 3;
    margin-bottom: 2rem;
    background-color: var(--background-color-primary-transp-2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    margin-top: 0rem;
  }
}

#header--container {
  z-index: 1;
  background-color: var(--background-color-primary);
  opacity: 1;
  top: 0;
  transition: opacity 0.35s ease-in-out, top 0.35s ease-in-out; /* Add easing effect for a smoother transition */
}

.container--nav {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 640px) {
  .container--nav {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer--container {
  position: absolute;
  bottom: unset;
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky;
  /* position: fixed;
  bottom: 0; */
  flex-direction: column;
  align-items: flex-start;
  border-top: var(--section-border-width) solid var(--color-primary);
  background-color: var(--background-color-primary);
  z-index: 0;
  width: 100%;
}

.footer--content {
  padding: 1rem;
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: flex-start;
  z-index: 0;
  width: -webkit-fill-available;
  align-items: end;
  font-weight: var(--font-weight-base);
}

@media only screen and (max-width: 840px) {
  .footer--col-1 {
    grid-column: 1 / 2!important;
  }

  .footer--col-2 {
    grid-column: 2 / 3!important;
  }
  .maintenance--version-container {
    grid-column: 1 / 3!important;
    grid-row: 2!important;
    align-items: flex-start!important;
  }
}

@media only screen and (max-width: 520px) {
  .container--footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .maintenance--version-container {
    align-items: flex-start!important;
  }
  .footer--col-1 {
    grid-column: unset!important;
    grid-row: unset!important;
  }
  .footer--col-2 {
    grid-column: unset!important;
    grid-row: unset!important;
  }
  .maintenance--version-container {
    grid-column: unset!important;
    grid-row: unset!important;
  }
}

@media only screen and (max-width: 840px) {
  .footer--content {
    column-gap: 1rem;
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 520px) {
  .footer--content {
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

.footer--col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-row: 1;
  grid-column: 1 / 3;
}

.footer--col-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-row: 1;
  grid-column: 2 / 4;
}

.container-maintenance--ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.container-maintenance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: calc(0px - var(--header-height-desktop-sm));
  z-index: 0;
}

@media only screen and (max-width: 640px) {
  .container-maintenance {
    min-height: 100vh;
  }
}

.maintenance--info {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.maintenance--announcement--desk {
  display: flex;
  padding: 1rem;
  width: 100%;
  min-height: fit-content;
  align-items: center;
  background-color: var(--background-color-primary);
}

.maintenance--announcement--mob {
  display: flex;
  padding: 1rem;
  width: 100%;
  min-height: var(--section-height-sm);
  align-items: center;
  background-color: var(--background-color-primary);
}

@media only screen and (min-width: 640px) {
  .maintenance--announcement--mob {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .maintenance--announcement--desk {
    display: none;
  }
}

.nav--logo {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  text-transform: uppercase;
}

.nav--title {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  text-transform: uppercase;
}

@media only screen and (min-width: 640px) {
  .nav--title {
    display: none;
  }
}  

.nav--link-group-container--mob .nav--link {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  text-transform: uppercase;
  padding: 0.5REM 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}


.nav--link--mob {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  text-transform: uppercase;
}

.nav--logo-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  align-items: end;
  grid-column: 1 / 2;
}

.nav--title-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
  align-items: baseline;
  grid-column: 2 / 3;
  grid-ROW: 1;
}

@media only screen and (min-width: 640px) {
  .nav--title-container {
    display: none;
  }
}

.timer-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
  align-items: baseline;
  grid-column: 2 / 3;
}

.nav--link-group--desk {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  align-items: end;
  grid-column: 3 / 5;
  grid-row: 1;
}

.nav--link-group-container--mob {
  top: 1rem;
  display: none;
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: fit-content;
  align-items: center;
  background-color: var(--background-color-primary);
  overflow-x: scroll;
  white-space: nowrap;
}

.nav--link-group--mob {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  align-items: end;
  grid-column: 3;
}

.nav--link-group--desk li{
  height: fit-content;
  line-height: var(--caps-line-height);
}

.nav--link-group--desk .nav--link {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
  .nav--logo-container {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .timer-container {
    display: none;
  }
  .nav--link-group--desk {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .nav--link-group-container--mob {
    display: none;
  }
}

.maintenance--message {
  font-size: var(--base-text);
  line-height: var(--default-line-height);
  white-space: nowrap;
}

.footer--info-li {
  color: var(--color-primary);
}

.footer--info-link {
  color: var(--color-highlight-2);
}

.footer--info-li--copyright-desk {
  grid-row: 1;
  grid-column: 3 / 5;
  font-size: var(--base-text);
  line-height: var(--default-line-height);
  white-space: nowrap;
}

.footer--info-li--copyright-mob {
  font-size: var(--base-text);
  line-height: var(--default-line-height);
  white-space: nowrap;
}

@media only screen and (max-width: 840px) {
  .footer--info-li--copyright-desk {
    display: none;
  }
}

@media only screen and (min-width: 840px) {
  .footer--info-li--copyright-mob {
    display: none;
  }
}

.maintenance--version-history {
  font-size: var(--base-text);
  line-height: var(--default-line-height);
  white-space: nowrap;
  grid-column: 4 / 5;
  grid-row: 1;
  text-align: right;
}

@media only screen and (max-width: 840px) {
  .maintenance--version-history {
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: left;
  }
}

@media only screen and (max-width: 520px) {
  .maintenance--version-history {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    transform: rotate(90deg) translate(0, 100%);
    transform-origin: top right;
    line-height: 100%;
    text-align: right;
    grid-column: unset;
    grid-row: unset;
  }
}

.maintenance--game-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 4rem;
  right: 4rem;
  top: calc(var(--header-footer-height-desktop-sm) / 2);
  bottom: 4rem;
  z-index: 10;
  height: calc(100vh - var(--header-footer-height-desktop-sm));
}

@media only screen and (max-width: 640px) {
  .maintenance--game-container {
    height: calc(100vh - var(--header-footer-height-mob));
    top: calc(var(--header-footer-height-mob) / 2);
  }
}

.maintenance--game-btn {
  position: absolute;
  display: flex;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 100px;
  border: var(--section-border-width) solid var(--game-btn-outline);
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  color: var(--color-primary);
  background-color: var(--color-highlight-1);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  white-space: nowrap;
}

.maintenance--game-btn:hover {
  opacity: 0.75;
  transition: opacity 0.3s;
}

.maintenance--form-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--background-color-primary-transp-glass);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1;
  opacity: 0.8;
  cursor: pointer;
  min-height: 100vh;
  overflow: hidden;
  z-index: 29;
  border: none;
}

.maintenance-container--form {
  display: flex;
  gap: 0;
  align-items: flex-start;
  flex-direction: column;
  width: 360px;
  height: fit-content;
  text-align: left;
  border: var(--component-border-width) solid var(--color-primary);
  /* border-radius: 0.25rem; */
  z-index: 3;
  background-color: var(--background-color-primary-transp-glass-2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(25px);
  font-weight: var(--font-weight-base);
}

.maintenance--form-holder {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  opacity: 1;
  transition: left 0.35s ease-in-out, opacity 0.35s ease-in-out 0.15s;
  margin: auto;
  padding: 1rem;
  border: none;
  width: fit-content;
  gap: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  z-index: 30;
}

@media screen and (max-width: 568px) {
  .maintenance-container--form {
    width: 100%;
  }
  .maintenance--form-holder {
    width: 100%;
  }
}

.maintenance-container--form input::placeholder {
  color: var(--color-primary);
  font-style: italic;
}

.maintenance-container--form textarea::placeholder {
  color: var(--color-primary);
  font-style: italic;
}

.maintenance--input {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 44px;
  font-size: var(--base-text);
  line-height: var(--default-line-height);
  align-items: baseline;
  border-bottom: var(--component-border-width) solid var(--color-primary);
}

.maintenance--input--message {
  align-items: flex-start!important;
  padding: 0.75rem 0.5rem!important;
  grid-column: 1 / 3;
  grid-row: 1;
}


.maintenance--input-header-bg-scolor {
  background-color: var(--color-primary);
  /* border-radius: 0.25rem 0.25rem 0 0; */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.maintenance--input:nth-child(4)  {
  height: calc(44px * 3);
}

.maintenance--input:last-child {
  border-bottom: 0;
}

.maintenance--input H2 {
  padding: 0.5rem;
  grid-column: 1 / 3;
}

.maintenance--input label { 
  display: flex;
  align-items: center;
  width: 131px;
  height: 100%;
  border: 0;
  padding: 0.5rem;
  outline: 0px!important;
  outline-style: none;
  text-transform: uppercase;
  font-size: var(--base-text);
  justify-content: flex-end;
}

.maintenance--input label:focus-visible {
  outline: 0px!important;
  outline-color: none!important;
}

.maintenance--input label:focus {
  outline: 0px!important;
  outline-color: none!important;
  outline-style: none;
}

.maintenance--input form { 
  width: 100%;
  height: 100%;
  border: 0;
  outline-style: none;
}

.maintenance--input input { 
  width: 100%;
  height: 100%;
  border: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 0.5rem;
  background-color: transparent!important;
  color: var(--color-primary);
  text-align: left;
  outline-style: none;
  font-family: var(--alt-font-family);
  font-size: 1.25rem;
  line-height: var(--default-line-height);
}

.maintenance--input input:visited { 
  background: var(--color-primary)!important;
}

.maintenance--input button { 
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  border: 0;
  font-family: var(--alt-font-family);
  /* border-radius: 0 0 0.25rem 0.25rem; */
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  outline-style: none;
}

.maintenance--input textarea {
  width: 100%;
  height: calc(44px * 3);
  border: 0;
  background-color: transparent!important;
  padding: 0.75rem 0.5rem;
  text-align: left;
  outline: -webkit-focus-ring-color auto 0px;
  outline: none;
  color: var(--color-primary);
  font-family: var(--alt-font-family);
  font-size: 1.25rem;
  line-height: var(--default-line-height);
}

.maintenance--input textarea:focus-visible {
  text-align: left;
  outline-color: -webkit-focus-ring-color;
  outline-style: none;
  outline-width: 0;
}

.container-countdown--mob {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: fit-content;
  height: fit-content;
  text-align: left;
  text-transform: uppercase;
  /* grid-column: 2;
  grid-row: 1; */
  align-items: baseline;
}

.container-countdown--desk {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: fit-content;
  height: fit-content;
  text-align: left;
  text-transform: uppercase;
  /* grid-column: 2;
  grid-row: 1; */
  align-items: baseline;
}

.live-bullet {
  display: none;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  border-radius: 100px;
  line-height: 100%;
}

.live-box {
  height: 0.75rem;
  width: 0.75rem;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  border-radius: 0;
  line-height: 100%;
}

.container-countdown--mob .maintenance--title-h2 {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  /* font-family: var(--alt-mono-font-family); */
}

.countdown--title-desk {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  /* font-family: var(--alt-mono-font-family); */
}

.maintenance--title-h2 {
  font-size: var(--base-text);
  line-height: var(--default-line-height);
  height: 13px;
}

.maintenance--form-title-h3 {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary);
  padding: 0.5rem;
  width: fit-content;
  white-space: nowrap;
}

.maintenance--time {
  /* font-family: var(--alt-mono-font-family); */
  font-size: var(--base-text);
  font-weight: var(--font-weight-base);
  line-height: var(--caps-line-height);
  text-transform: uppercase;
  position: relative;
}

@media only screen and (max-width: 640px) {
  .container-countdown--desk {
    display: none;
  }
}

.container-maintenance--copyright {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
}

.maintenance--version-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: fit-content;
  grid-row: 1;
  grid-column: 4;
}

@media only screen and (max-width: 640px) {
  .container-maintenance--copyright {
    flex-direction: column;
    gap: 0;
  }
}

.maintenance--copyright-p {
  font-size: var(--base-text);
  line-height: var(--default-line-height);
  text-align: left;
  white-space: nowrap;
}

.container-maintenance--contact {
  display: flex;
  flex-direction: column;
  height: fit-content;
  cursor: pointer;
}

.container-maintenance--contact:hover .maintenance--contact-h3 {
  opacity: 0.75;
  transition: opacity 0.3s;
  color: var(--color-primary);
}

@media only screen and (max-width: 640px) {
  .container-maintenance--contact {
    align-items: center;
    /* border-radius: 0.25rem; */
    /* border: var(--component-border-width) solid var(--color-primary); */
    /* padding: 2px; */
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .maintenance--contact-h3 {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
.container-maintenance--contact svg {
    display: none;
  }
}

.maintenance--contact-h3 {
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  opacity: 1;
}

#contMove {
  transition: all 0.25s ease-in-out;
  touch-action: none;
}

#contMove.hidden {
  opacity: 0;
  pointer-events: none;
}

.form-slide-left {
  left: 100vw;
  transition: left 0.35s ease-in-out, opacity 0.35s ease-in-out 0.5s;
  opacity: 0;
}

.form-hide {
  display: none;
  opacity: 0!important;
  transition: opacity 0.75s;
}

.maintenance--form-marquee-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.25rem;
  overflow: hidden;
  align-items: center;
}

.maintenance--marquee-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maintenance--marquee-svg-container {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  /* border-radius: 0.5rem; */
  padding: 0.5rem;
  width: fit-content;
  cursor: pointer;
}

.maintenance--form-marquee-text {
  width: fit-content;
}

.maintenance--svg-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  padding: 0.75rem;
  stroke-width: 1.5px;
}

.logotype--svg-header {
  width: 100%;
  height: auto;
  fill: var(--color-primary);
}

.maintenance--svg-close {
  width: 18px;
  height: 18px;
  stroke-width: var(--component-border-width);
}

.maintenance--svg-close-2 {
  width: 18px;
  height: 18px;
}

.maintenance--svg-close-2 path {
  stroke: var(--color-primary);
  stroke-width: var(--component-border-width);
}

#closeMinus.maintenance--svg-close-2 path {
  stroke: var(--color-secondary);
  stroke-width: var(--component-border-width);
}

.maintenance--svg-close-minus path {
  stroke: var(--color-secondary);
  stroke-width: var(--component-border-width);
}

#drawerTriggerMinusSvg {
  width: 24px;
  height: 13px;
  stroke: var(--color-secondary);
}

.maintenance--svg-close path {
  stroke: var(--color-primary);
}

#maintenance--form-submit {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  overflow: hidden;
  background-color: var(--background-color-primary);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: var(--color-primary);
  font-size: var(--base-text);
  font-weight: var(--font-weight-base);
}

.maintenance--input button:hover {
  background-color: var(--color-primary)!important;
  backdrop-filter: blur(3px)!important;
  -webkit-backdrop-filter: blur(3px)!important;
  color: var(--color-secondary)!important;
}

.maintenance--input button:hover svg {
  stroke: var(--color-primary);
}

.maintenance--svg-container:hover svg {
  opacity: 0.75;
}

.maintenance--form-submit--svg {
  position: relative;
  height: 24px;
  width: auto;
  fill: none;
  stroke: #000;
  left: 0;
  opacity: 1;
  stroke-width: 1.5px;
}

.svg-hide {
  display: none;
}

form input[type="email"] {
  touch-action: manipulation;
}

.maintenance--uppercase {
  text-transform: uppercase;
}

form label {
  pointer-events: none;
}

textarea, input {
  background-color: transparent!important;
  color: var(--color-primary)!important;
  border-radius: 0!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

input:autofill {
  background-color: transparent!important;
  background-image: transparent!important;
  color: var(--color-primary)!important;
  border-radius: 0!important;
}

.grid-col-1 {
  grid-column: 1;
}

.grid-col-2 {
  grid-column: 2;
}

.grid-col-3 {
  grid-column: 3;
}

.grid-col-4 {
  grid-column: 4;
}

.grid-col-1-3 {
  grid-column: 1 / 3;
}

.grid-col-2-4 {
  grid-column: 2 / 4;
}

.grid-col-3-5 {
  grid-column: 3 / 5;
}

.cursor-pointer {
  cursor: pointer;
}

.none {
  display: none!important;
}

.content--right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  height: fit-content;
  grid-row: 1;
  grid-column: 4 / 5;
}

@media only screen and (max-width: 640px) {
  .content--right {
    grid-row: 1;
    grid-column: 2 / 3;
  }
}

.container--mode-switch {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: none;
  line-height: 100%;
  height: 16.9px;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  background-color: unset;
  cursor: pointer;
  font-family: var(--alt-font-family);
}

.mode-switch-btn--container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0.25rem;
  border: var(--component-border-width) solid var(--color-primary);
  border-radius: 0.5rem;
  height: 16px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.mode-switch--btn {
  border-radius: 0.75rem;
  border: var(--component-border-width) solid var(--color-primary);
  width: 0.5rem;
  height: 0.5rem;
}

.container-mode-switch--btn-text {
  display: flex;
  flex-direction: column;
  height: fit-content;
  cursor: pointer;
}

.container-mode-switch--btn-text:hover .maintenance--contact-h3 {
  opacity: 0.75;
  transition: opacity 0.3s;
  color: var(--color-primary);
}

@media only screen and (max-width: 640px) {
  .container-mode-switch--btn-text {
    display: none;
  }
}

.mode-switch--btn-text {
  line-height: var(--caps-line-height);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  height: 100%;
  flex-wrap: wrap;
  font-size: var(--base-text);
  font-weight: var(--font-weight-base);
  width: 39px;
  font-family: var(--alt-font-family);
}

@media only screen and (max-width: 640px) {
  .mode-switch--btn-text {
    display: none;
  }
}

.mode-switch--btn--visible {
  visibility: hidden;
}

.toggle-text-switch {
  display: none;
}

.container--media-home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky!important;
  top: 1rem;
  height: 100%;
  width: 100%;
  grid-column: 1 / 5;
  position: relative;
}

.container--video{
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  height: 100%;
  background-color: var(--color-highlight-2);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.video-content {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  grid-row: 1;
  grid-column: 1;
}

.video-hero-thumbnail {
  width: 100%;
  height: calc(100% + 0.5px);
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  aspect-ratio: 16 / 9;
}

.video-overlay {
  position: relative;
  display: inline-block;
}

.play-button i {
  color: #fff;
  font-size: 24px;
}

.meta-text--video {
  /* font-size: var(--base-text-sm); */
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  width: fit-content;
}

@media only screen and (max-width: 640px) {
  .container--media-home {
    grid-column: 1 / 3;
  }
  .video-content {
    aspect-ratio: 4 / 5;

  }
  .video-hero-thumbnail {
    aspect-ratio: 4 / 5;
  }
}

.maintenance-container--form input::placeholder,
.maintenance-container--form textarea::placeholder,
.maintenance-container--form input::-webkit-input-placeholder,
.maintenance-container--form textarea::-webkit-input-placeholder,
.maintenance-container--form label {
  color: var(--color-secondary);
}

.credits-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--background-color-primary-transp-glass);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1;
  cursor: pointer;
  min-height: 100vh;
  overflow: hidden;
  z-index: 28;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.credits-overlay.show {
  display: flex;
  opacity: 1;
}

.credits-content {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  transition: left 0.35s ease-in-out, opacity 0.35s ease-in-out 0.15s;
  margin: auto;
  width: 360px;
  gap: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  z-index: 30;
  min-height: fit-content;
  border: var(--component-border-width) solid var(--color-primary);
  background-color: #0e1419ad;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  opacity: 0.8;
  font-size: var(--base-text);
  line-height: var(--caps-line-height);
  text-transform: uppercase;
  color: inherit;
  padding: 0;
}

.credits-content.show {
  display: flex;
  opacity: 1;
}

.credits-list--container {
  display: flex;
  /* flex-direction: column; */
  gap: 0.25rem;
  width: 100%;
  height: fit-content;
  padding: 0 1rem;
  text-transform: none;
}

.credits-title {
  width: 100%;
  padding: 1rem;
}

.credits-message--container{
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: rows;
  gap: 0;
  line-height: var(--caps-line-height);
}

.credits-message {
  text-transform: none;
}

.credits-title--container {
  width: 100%;
  height: var(--section-height-sm);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-transform: uppercase;
  line-height: var(--default-line-height);
  border-bottom: var(--component-border-width) solid var(--color-primary);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.credits-title--container:hover {
  color: var(--color-secondary);
  background-color: var(--background-color-secondary);
}

.credits-title--container .maintenance--svg-close-minus path {
  stroke: var(--color-primary);
  stroke-width: var(--component-border-width);
}

.credits-title--container:hover .maintenance--svg-close-minus path {
  stroke: var(--color-secondary);
}

.credits-detials--container {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: none;
  line-height: var(--default-line-height);
  border-bottom: var(--component-border-width) solid var(--color-primary);
  cursor: default;
}

.credits-content > :not(:first-child) {
  cursor: default;
}

.credits-title--container p {
  user-select: none;
}

/* Show the pop-up content on click for mobile */
@media (max-width: 640px) {
  .credits-content { 
    width: fit-content;
    margin: auto 1rem;
  }
}
